.search {
    width: 15em;
    box-shadow: 0px 0px 2px 0px #999;
}

.search input{
    width: 96%;
    border: none;
    outline: none;
    padding: 4px;
    font-size: 16px;
    color: #6b6767;
}

.options {
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    width: 15em;
    box-shadow: 0 0 2px 0 #999;
}

.options div{
    padding: 7px;
    font-size: 14px;
}

.options div:hover{
    background: #6495ed1f;
    color: black;
}
